<div id='create-recipe'>
   <h1>Create your own recipe!</h1>
   <form id='recipe-form' #f="ngForm">
      <mat-form-field appearance="standard" id='recipe-title'>
         <mat-label>Your Secret Food</mat-label>
         <input matInput placeholder="Placeholder" ngModel value='dsfsfsd' name="recipeName" required>
         <mat-hint>Name of your recipe</mat-hint>
      </mat-form-field>

      <div *ngFor="let step of stepForm | slice: 1">
         <h1>STEP {{step.stepId}}</h1>

         <mat-form-field class="step-title">
            <mat-label>Step Title</mat-label>
            <input class='form-control' matInput placeholder="step title" (ngModel)="steps[noOfStep].stepTitle"
               name="stepTitle" value="step.stepTitle" required>
         </mat-form-field>

         <mat-form-field class="step-description">
            <mat-label>Describe this step in detail</mat-label>
            <textarea matInput placeholder="..." (ngModel)="steps[noOfStep].stepDescription" name="stepDescription"
               required></textarea>
         </mat-form-field>

         <mat-form-field class="step-url">
            <mat-label>Youtube embedded link</mat-label>
            <input matInput type='url' (ngModel)="steps[noOfStep].stepUrl" name="stepUrl" />
         </mat-form-field>

         <mat-form-field class="step-img">
            <mat-label>Upload an image</mat-label>
            <input matInput type='url' (ngModel)="steps[noOfStep].stepImg" name="stepImg" />
         </mat-form-field>
      </div>

      <button mat-raised-button color='accent' (click)="copyStep(f.value)" [disabled]='!isAddable'>Add a Step</button>
      <button id='23' mat-raised-button color='accent' (click)="saveStep(f.value)" [disabled]="!isSaveable"
         *ngIf="stepForm.length > 1">Save a Step</button>

   </form>
   <button type='submit' form='recipe-form' id='submit-btn' mat-raised-button color='primary' [disabled]="!submitForm"
      (click)='submit(f.value)'>Save</button>
</div>